<form>
    <div class="form-group" align="center" >
      <label for="exampleInputEmail1">Numero 1</label>
      <input type="number" class="form-control" id="numero1" name="numero1" [(ngModel)]="numero1" aria-describedby="emailHelp">
    </div>
    <div class="form-group" align="center">
        <label for="exampleInputEmail1">Numero 2</label>
        <input type="number" class="form-control" id="numero2" name="numero2" [(ngModel)]="numero2" aria-describedby="emailHelp">
    </div>
    <button align="center" type="submit" (click)="suma()"class="btn btn-primary">Sumar </button>
    <button align="center" type="submit" (click)="resta()"class="btn btn-primary">Restar</button>
    <label for="Resultado" align="center"> Resultado {{resultado}}</label>
</form>

