<app-nav-menu>

</app-nav-menu>
<div align="center" >
<h1>Calculadora</h1>
<p>
  Una calculadora es un dispositivo que se utiliza para realizar cálculos aritméticos. Aunque las calculadoras modernas incorporan a menudo un ordenador de 
  propósito general, se diseñan para realizar ciertas operaciones más que para ser flexibles. Por ejemplo, existen calculadoras gráficas especializadas en 
  campos matemáticos gráficos como la trigonometría y la estadística. También suelen ser más portátiles que la mayoría de los computadores, si bien algunas 
  PDAs tienen tamaños similares a los modelos típicos de calculadora. En esta ocacion hicimos una adaptación aplicando mis conocimiendo en programación web.

</p>
</div>

<router-outlet></router-outlet>
<app-footer>
  
</app-footer>